body {
    text-align:center;
    background-color: white;
    font-size:12pt;
}
#answer {
    margin-top: 200px;
    font-weight: bold;
    font-size: 10em;
    font-family: Arial, sans-serif;
    text-decoration: none;
    color: black;
}
#next {
    font-size: 1.5em;
    font-family: Arial, sans-serif;
}
#update, #footer {
    font-family: Arial, sans-serif;
}